:root {
    --primary-color: #2b336b;
    --secondary-color: #FFDD00;
    --dark-color: #101820;
    --light-color: #FFFFFF;

    --complementary-primary-color: #1F2A44;
    --complementary-secondary-color: #84754E;
    --complementary-dark-color: #63666A;
    --complementary-light-color: #D9D9D6;
}

html {
    color: var(--light-color);
}

* {

    transition-property: all;

    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);

    transition-duration: 300ms;

}



@keyframes spin {

    from {

        transform: rotate(0deg);

    }



    to {

        transform: rotate(360deg);

    }

}



.animate-spin {

    content: " ";

    width: 2rem;

    height: 2rem;

    margin: 4px 20px;

    border-radius: 50%;

    border: 2px solid #fff;

    border-color: rgb(134, 0, 0) transparent rgb(134, 0, 0) transparent;

    animation: spin 1s linear infinite;

}



.bg-auth{

    background-repeat: no-repeat;

    background-position: center center;

    background-size: cover;

    height: 100vh;

    width: 100vw;

}
.img_ani{
    width: 10%; position: fixed; z-index: 10000; right: 0px; bottom: 0;
}

@media only screen and (max-width: 600px) {
    .img_ani{
        width: 30%!important; position: fixed; z-index: 10000; right: 0px; bottom: 0;
    }
}

.formulario-auth input, .formulario-auth select {
    color: var(--dark-color)
}
